@charset "UTF-8";

body {
  background-image: url(../images/body_bg.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: bottom;
  font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体",
    "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;



}






@media screen and (min-width: 750px) {
  .container {
    max-width: 750px;
    -webkit-box-shadow: 0 1px 20px rgb(0 0 0 / 30%);
    box-shadow: 0 1px 20px rgb(0 0 0 / 30%);
    background: #fff;
    margin-left: auto;
    margin-right: auto;
    
  }

  .main {
    max-width: 750px;
    -webkit-box-shadow: 0 1px 20px rgb(0 0 0 / 30%);
    box-shadow: 0 1px 20px rgb(0 0 0 / 30%);
    background: #fff;
    margin-left: auto;
    margin-right: auto;
  }
}

img {
  width: 100%;
  vertical-align: bottom;
}

/* コンテンツの横幅 */
/* ============================================ */
.o-wrapper {
  width: 100%;
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
}
/* ============================================ */
/* コンテンツの横幅 ここまで */


/* footer */
/* ============================================ */
footer {
  display: block;
  padding-top: 10px;
  border-top: 3px solid #ddd;
  background: #fff;
}

ul {
  list-style: none;
}

.footer__nav {
  text-align: center;
  padding: 10px 0;
}

.footer__nav li {
  margin: 0 5px 10px 0;
  font-size: 13px;
}

.footer__nav li a {
  text-decoration: none;
  padding: 0 10px 0 0;
  color: #000;
}

footer .copyright {
  text-align: center;
  padding: 10px 0;
  font-size: 12px;
  padding-bottom: 10px;
}
/* footer ここまで */
/* ============================================ */
